.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
}

.modal {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 2;
}
